[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:jtaby/nerdtree.git
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/SuperTab"]
	path = vim/bundle/SuperTab
	url = https://github.com/vim-scripts/SuperTab.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/jshint"]
	path = vim/bundle/jshint
	url = https://github.com/walm/jshint.vim
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/vim0fugitive"]
	path = vim/bundle/vim0fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/guicolorscheme"]
	path = vim/bundle/guicolorscheme
	url = https://github.com/vim-scripts/guicolorscheme.vim.git
[submodule "vim/bundle/php.vim"]
	path = vim/bundle/php.vim
	url = https://github.com/StanAngeloff/php.vim.git
[submodule "vim/bundle/Rainbow-Parenthesis"]
	path = vim/bundle/Rainbow-Parenthesis
	url = https://github.com/vim-scripts/Rainbow-Parenthesis.git
[submodule "vim/bundle/camelcasemotion"]
	path = vim/bundle/camelcasemotion
	url = https://github.com/vim-scripts/camelcasemotion.git
[submodule "vim/bundle/ZoomWin"]
	path = vim/bundle/ZoomWin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "vim/bundle/textile.vim"]
	path = vim/bundle/textile.vim
	url = https://github.com/timcharper/textile.vim.git
